{% extends "auctions/layout.html" %} 

{% block title %}Dashboard{% endblock %}

{% block body %}
	<div class="px-2">
		{% if message %}
			<div>{{ message }}</div>
		{% endif %}

		<h5>Active auctions</h5>
		<!-- <div class="d-flex justify-content-around flex-wrap px-2"> -->
		
		<div class="row">
			{% for listing in listings %}
			<div class="col-sm-4">
				<div class="card border-info mb-2 ml-3" style="width: 16rem;">
					<!-- <div class="embed-responsive embed-responsive-1by1"> -->
						<img src="{{ listing.imageUrl }}" class="card-img-top" id="index-image" alt="img" />
					<!-- </div> -->
					
					<div class="card-body">
						{% if user.is_authenticated %}
							<a href="{% url 'auctions:listing' listing.id %}"><h5 class="card-title">{{ listing.title }}</h5></a>
						{% else %}
							<h5 class="card-title">{{ listing.title }}</h5>
						{% endif %}
						<p class="card-text">{{ listing.description }}</p>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><p>Price: €{{ listing.starting_bid }}</p></li>
						<li class="list-group-item"><p>Created {{ listing.date_created }} by {{ listing.creator }}</p></li> 
					</ul>
				</div>
			</div>
			{% endfor %}
		</div>	
		
		<!-- </div> -->
	</div>
{% endblock %}



<!-- embed-responsive-item -->