{% extends "auctions/layout.html" %}

{% block title %}Listing{% endblock %}

{% block body %}

    <h2>Create a new listing</h2>
    <h6>All fields with * are required</h6>
    <br>

    <div class="form-group">
        <form action="{% url 'listing' %}" method="post">
            {% csrf_token %}
            
            <label for="createListingTitle">Title*</label>
            <input autofocus class="form-control" type="text" id="createListingTitle">
        
        
            <label for="createListingDescription">Description</label>
            <textarea class="form-control" id="createListingDescription" rows="3"></textarea>
        
        
            <label for="createListingStarBid">Starting bid* (EURO)</label>
            <input class="form-control" type="number" id="createListingStarBid">
        
        
            <label for="createListingCategory">Select a category*</label>
            <select class="custom-select custom-select-sm" id="createListingCategory">
                <option selected>Fashion</option>
                <option value="1">Toys</option>
                <option value="2">Electronics</option>
                <option value="3">Home</option>
                <option value="4">Antique</option>
            </select>
        
        
            <label for="createListingURL">Image URL</label>
            <input class="form-control" type="url" id="createListingURL">
        
            
            <button type="submit" class="btn btn-outline-success btn-block">Submit</button>
            
        </form>
    </div>
    <a href="{% url 'index' %}">View Active Listings</a>
{% endblock %}